extends layout

block content
    .containter.mx-auto.text-center
        .jumbotron
            h1.display-1 Web Application Project
            p.display-5.text-right - Sagar Neupane | Spring@2022
    
    script.
        $('#main-nav').append( "<li class = 'nav-item'> <a class = 'nav-link' id = 'login'> Login </li> ")
        $('#login').attr('href', 'login')