extends layout

block content
  .alert.alert-danger.text-center(role='alert')
    h4.alert-heading Incorrect Passowrd / Username Combination!! 
      hr
      p.mb-0
      button.btn.btn-dark(type='button').text-success
        a.btn-success(href="login") Try again?

